.welcome {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
}

.welcome p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}